.Button {

background: hsla(0, 87%, 79%, 1);

background: linear-gradient(90deg, hsla(0, 87%, 79%, 1) 0%, hsla(6, 77%, 85%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 87%, 79%, 1) 0%, hsla(6, 77%, 85%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 87%, 79%, 1) 0%, hsla(6, 77%, 85%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F89999", endColorstr="#F6C0BA", GradientType=1);


}



.h3 {
    padding: 10px;

}
.title {
    padding-top: 15px;
    font-weight: 500;
}

div.footer {
    color: black;


}
.card {
    padding: 10px;
 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
    
}

.card .img {
    margin-bottom: 20px;
}